<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Liquidación
            <small>Editar</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Pagos</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title" style="margin-top: 16px">Terminación al 22 de Enero 2019</h3>
                    </div>
                    <!-- /.box-header -->

                    <div class="box-body">

                        <div class="row">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-4">
                                <label for="nameInput">Nombre</label>
                                <input type="text" class="form-control" placeholder="Guiacomo Guilizzo">
                            </div>
                            <div class="col-xs-4">
                                <label for="lastnameInput">Cédula</label>
                                <input type="text" class="form-control" placeholder="8-721-587">
                            </div>
                            <div class="col-xs-2"></div>
                        </div>

                        <hr style="border-color: #D2D6DE;">
                        <h4 style="text-align: center">Historial de Salarios</h4>

                        <div class="row">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-8">

                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Fecha</th>
                                            <th>Salario Neto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>08 Agosto - 21 Agosto 2018</td>
                                            <td>376.27</td>
                                        </tr>
                                        <tr>
                                            <td>22 Agosto - 04 Septiembre 2018</td>
                                            <td>390.60</td>
                                        </tr>
                                        <tr>
                                            <td>05 Septiembre - 18 Septiembre 2018</td>
                                            <td>366.92</td>
                                        </tr>
                                        <tr>
                                            <td>19 Septiembre - 02 Octubre 2018</td>
                                            <td>343.80</td>
                                        </tr>
                                        <tr>
                                            <td>03 Octubre - 16 Octubre 2018</td>
                                            <td>343.80</td>
                                        </tr>
                                        <tr>
                                            <td>17 Octubre - 30 Octubre 2018</td>
                                            <td>343.80</td>
                                        </tr>
                                        <tr>
                                            <td>31 Octubre - 13 Noviembre 2018</td>
                                            <td>343.80</td>
                                        </tr>
                                        <tr>
                                            <td>14 Noviembre - 27 Noviembre 2018</td>
                                            <td>343.80</td>
                                        </tr>
                                        <tr>
                                            <td>28 Noviembre - 11 Diciembre 2018</td>
                                            <td>324.70</td>
                                        </tr>
                                        <tr>
                                            <td>12 Diciembre - 25 Diciembre 2018</td>
                                            <td>324.70</td>
                                        </tr>
                                        <tr>
                                            <td>26 Diciembre - 08 Enero 2018</td>
                                            <td>324.70</td>
                                        </tr>
                                        <tr>
                                            <td>09 Enero - 22 Enero 2019</td>
                                            <td>324.70</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-2"></div>
                        </div>

                        <hr style="border-color: #D2D6DE;">
                        <h4 style="text-align: center">Total Acumulado</h4>

                        <br>
                        <div class="row">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-2">
                                <label for="nameInput">Total</label>
                                <input type="text" class="form-control" placeholder="3874.44">
                            </div>
                            <div class="col-xs-2">
                                <label for="lastnameInput">Salarios x Pagar</label>
                                <input type="text" class="form-control" placeholder="0">
                            </div>
                            <div class="col-xs-2">
                                <label for="lastnameInput">Vacaciones Prop.</label>
                                <input type="text" class="form-control" placeholder="352.22">
                            </div>
                            <div class="col-xs-2">
                                <label for="lastnameInput">Ingreso 6%</label>
                                <input type="text" class="form-control" placeholder="253.60">
                            </div>
                            <div class="col-xs-2">
                                <label for="lastnameInput">Fondo Enfermedad</label>
                                <input type="text" class="form-control" placeholder="198.64">
                            </div>
                            <div class="col-xs-1"></div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-2">
                                <label for="nameInput">Seguro Social</label>
                                <input type="text" class="form-control" placeholder="34.34">
                            </div>
                            <div class="col-xs-2">
                                <label for="lastnameInput">Seguro Educativo</label>
                                <input type="text" class="form-control" placeholder="4.40">
                            </div>
                            <div class="col-xs-2">
                                <label for="lastnameInput">Cuota Sindical</label>
                                <input type="text" class="form-control" placeholder="7.04">
                            </div>
                            <div class="col-xs-2">
                                <label for="lastnameInput">Impuesto S/Renta</label>
                                <input type="text" class="form-control" placeholder="0">
                            </div>
                            <div class="col-xs-2"></div>
                        </div>

                        <hr style="border-color: #D2D6DE;">
                        <h4 style="text-align: center">Décimo XIII Mes</h4>

                        <br>
                        <div class="row">
                            <div class="col-xs-3"></div>
                            <div class="col-xs-2">
                                <label for="nameInput">Total</label>
                                <input type="text" class="form-control" placeholder="1393.17">
                            </div>
                            <div class="col-xs-2">
                                <label for="lastnameInput">XIII Bruto</label>
                                <input type="text" class="form-control" placeholder="116.10">
                            </div>
                            <div class="col-xs-2">
                                <label for="lastnameInput">Seguro Social</label>
                                <input type="text" class="form-control" placeholder="8.42">
                            </div>
                            <div class="col-xs-3"></div>
                        </div>

                        <hr style="border-color: #D2D6DE;">

                        <div class="row">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-2">
                                <a href="#" class="text-navy" style="font-size:60px; margin-right: 20px;">
                                    <i class="fa fa-floppy-o"></i>
                                </a>
                            </div>
                            <div class="col-xs-2">
                                <a href="#" class="text-navy" style="font-size:60px; margin-right: 20px;">
                                    <i class="fa fa-print"></i>
                                </a>
                            </div>
                            <div class="col-xs-2">
                                <h1 class="text-navy">Total:</h1>
                            </div>
                            <div class="col-xs-2">
                                <h1 class="text-green">866.35</h1>
                            </div>
                            <div class="col-xs-2"></div>
                        </div>
                        <br>
                    </div>

                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->

</div>