<p>update-payrolldetail works!</p>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Registro de Planilla
            <small>Consulta</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Pagos</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header ">
                        <h3 class="box-title" style="margin-top: 16px">{{ startDate | titlecase }} al {{ endDate | titlecase }}</h3>
                    </div>
                    <!-- /.box-header -->

                    <div *ngIf="payroll" class="box-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <label for="nameInput">Nombre</label>
                                <input type="text" class="form-control" placeholder="" [(ngModel)]="payroll.fullname">
                            </div>
                            <div class="col-xs-4">
                                <label for="lastnameInput">Cédula</label>
                                <input type="text" class="form-control" placeholder="" [(ngModel)]="payroll.identification">
                            </div>
                            <div class="col-xs-4">
                                <label>Rata por Hora</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                    <input type="text" class="form-control" [(ngModel)]="payroll.rate">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="divider"></div>
                        <div class="row">
                            <div class="col-xs-2">
                                <label for="nameInput">Horas Regulares</label>
                                <input type="text" class="form-control" placeholder="" [(ngModel)]="payroll.netsalary">
                            </div>
                            <div class="col-xs-2">
                                <label for="nameInput">Horas Extras</label>
                                <input type="text" class="form-control" placeholder="" [(ngModel)]="payroll.overhour">
                            </div>
                            <div class="col-xs-2">
                                <label for="nameInput">Tareas</label>
                                <input type="text" class="form-control" placeholder="" [(ngModel)]="payroll.task">
                            </div>
                            <div class="col-xs-2">
                                <label for="nameInput">Domingo</label>
                                <input type="text" class="form-control" placeholder="" [(ngModel)]="payroll.sunday">
                            </div>
                            <div class="col-xs-4">
                                <label for="nameInput">Total</label>
                                <input type="text" class="form-control" placeholder="" [(ngModel)]="payroll.total_imcome">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-2">
                                <label for="nameInput">Seguro Social</label>
                                <input type="text" class="form-control" placeholder="" [(ngModel)]="payroll.socialsecuritytax">
                            </div>
                            <div class="col-xs-2">
                                <label for="nameInput">Seguro Educativo</label>
                                <input type="text" class="form-control" placeholder="" [(ngModel)]="payroll.educationalinsurancetax">
                            </div>
                            <div class="col-xs-2">
                                <label for="nameInput">Suntracs</label>
                                <input type="text" class="form-control" placeholder="" [(ngModel)]="payroll.suntracs">
                            </div>
                            <div class="col-xs-2">
                                <label for="nameInput">Seguro Colectivo</label>
                                <input type="text" class="form-control" placeholder="" [(ngModel)]="payroll.groupinsurance">
                            </div>
                            <div class="col-xs-4">
                                <label for="nameInput">Total</label>
                                <input type="text" class="form-control" placeholder="" [(ngModel)]="payroll.total_discounts">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-4">
                                <label for="nameInput">Saldo Anterior</label>
                                <input type="text" class="form-control" placeholder="" [(ngModel)]="payroll.task">
                            </div>
                            <div class="col-xs-4">
                                <label for="nameInput">Interes</label>
                                <input type="text" class="form-control" placeholder="" [(ngModel)]="payroll.task">
                            </div>
                            <div class="col-xs-4">
                                <label for="nameInput">Capital</label>
                                <input type="text" class="form-control" placeholder="" [(ngModel)]="payroll.task">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-3">
                                <label for="nameInput">Ahorro</label>
                                <input type="text" class="form-control" placeholder="" [(ngModel)]="payroll.task">
                            </div>
                            <div class="col-xs-3">
                                <label for="nameInput">Cta. Ivan</label>
                                <input type="text" class="form-control" placeholder="" [(ngModel)]="payroll.task">
                            </div>
                            <div class="col-xs-2">
                                <label for="nameInput">Descontar</label>
                                <input type="text" class="form-control" placeholder="" [(ngModel)]="payroll.task">
                            </div>
                            <div class="col-xs-4">
                                <label for="nameInput">Saldo a Capital</label>
                                <input type="text" class="form-control" placeholder="" [(ngModel)]="payroll.total_imcome - payroll.total_discounts">
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button *ngIf="mode === 'U'" (click)="btnCancel()" class="btn btn-danger">Cancelar</button>
                        <button *ngIf="mode === 'U'" routerLink="/payments/payroll/payrolldetail" routerLinkActive="router-link-active" class="btn btn-success pull-right">Guardar</button>
                        <button *ngIf="mode === 'R'" (click)="btnCancel()" class="btn btn-success pull-right">Regresar</button>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->

</div>