<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Planilla
            <small>Registro</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Pagos</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header ">
                        <h3 class="box-title" style="margin-top: 16px">Registro de Planillas</h3>
                    </div>
                    <!-- /.box-header -->

                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Total</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>23 Enero al 05 Febrero</td>
                                    <td>22274.42</td>
                                    <td>
                                        <a routerLink="payrolldetail" routerLinkActive="router-link-active" class="text-blue" style="font-size:20px; margin-right: 20px;">
                                            <i class="fa fa-search"></i>
                                        </a>
                                        <a href="#" data-toggle="modal" data-target="#modal-default" class="text-red" style="font-size:20px; margin-right: 20px;">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>06 Febrero al 19 Febrero</td>
                                    <td>0.00</td>
                                    <td>
                                        <a routerLink="payrolldetail" routerLinkActive="router-link-active" class="text-blue" style="font-size:20px; margin-right: 20px;">
                                            <i class="fa fa-search"></i>
                                        </a>
                                        <a href="#" data-toggle="modal" data-target="#modal-default" class="text-red" style="font-size:20px; margin-right: 20px;">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
        </div>

        <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Eliminar Planilla</h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Esta seguro que desea eliminar el registro?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <!-- /.row -->
    </section>
    <!-- /.content -->

</div>