<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Décimo XIII
            <small>Detalle</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Pagos</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header ">
                        <h3 class="box-title" style="margin-top: 16px">Detalles del Décimo XIII - Abril 2019</h3>
                        <a routerLink="add-employee" routerLinkActive="router-link-active" style="float: right; font-size:30px;" class="text-primary">
                            <i class="fa fa-print"></i>
                        </a>
                    </div>
                    <!-- /.box-header -->

                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Sal. Acumulado</th>
                                    <th>XIII Bruto</th>
                                    <th>Seguro Social</th>
                                    <th>Neto</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Guiacomo Guilizam</td>
                                    <td>2827.76</td>
                                    <td>235.65</td>
                                    <td>17.08</td>
                                    <td>218.56</td>
                                    <td>
                                        <a routerLink="read-thirddetail" routerLinkActive="router-link-active" class="text-green" style="font-size:20px; margin-right: 20px;">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Marco Botton</td>
                                    <td>3226.95</td>
                                    <td>268.91</td>
                                    <td>19.51</td>
                                    <td>249.42</td>
                                    <td>
                                        <a routerLink="read-thirddetail" routerLinkActive="router-link-active" class="text-green" style="font-size:20px; margin-right: 20px;">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Maria Maclachlan</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>
                                        <a routerLink="read-thirddetail" routerLinkActive="router-link-active" class="text-green" style="font-size:20px; margin-right: 20px;">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->

</div>