<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Empleados
            <small>Consultar</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Empleados</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title" style="margin-top: 16px">Consultar Empleado</h3>
                    </div>
                    <!-- /.box-header -->

                    <div class="box-body">
                        <div *ngIf="empleado" class="box-body">
                            <div class="row">
                                <div class="col-xs-3">
                                    <label for="nameInput">Nombre</label>
                                    <input type="text" class="form-control" placeholder="" [(ngModel)]="empleado.firstname" disabled>
                                </div>
                                <div class="col-xs-3">
                                    <label for="lastnameInput">Apellido</label>
                                    <input type="text" class="form-control" placeholder="" [(ngModel)]="empleado.lastname" disabled>
                                </div>
                                <div class="col-xs-3">
                                    <label for="identificationInput">Cédula</label>
                                    <input type="text" class="form-control" placeholder="" [(ngModel)]="empleado.identification" disabled>
                                </div>
                                <div class="col-xs-3">
                                    <label for="birthdayInput">Fecha de Nacimiento</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="birthdayInput" [ngModel]="empleado.birthday | date:'yyyy-MM-dd'" data-date-format="yyyy-mm-dd" disabled>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label>Sexo</label>
                                        <select class="form-control" disabled>
                                        <option *ngFor = "let item of optionsGenre"
                                                [ngValue]="item">{{ item.id === 'M' ? 'Masculino' : 'Femenino' }}</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label>Ocupación</label>
                                        <select class="form-control" disabled>
                                        <option *ngFor = "let item of listOcupations"
                                                [ngValue]="item">{{ item.id === 1 ? 'Sí' : 'No' }}</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="nameInput">Contrato en meses</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                        <input type="text" class="form-control" placeholder="" [(ngModel)]="empleado.term" disabled>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label>Rata por Hora</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                        <input type="text" class="form-control" [(ngModel)]="empleado.rate" disabled>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label>Activo</label>
                                        <select [(ngModel)]="empleado.active" class="form-control" disabled>
                                        <option *ngFor = "let item of options"
                                                        [value]="item.id"
                                                        [selected]="empleado.active == item.id" >{{ item.label }}</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label>Club de Ahorro</label>
                                        <select [(ngModel)]="empleado.club" class="form-control" disabled>
                                        <option *ngFor = "let item of options"
                                                        [value]="item.id"
                                                        [selected]="empleado.club == item.id" >{{ item.label }}</option>
                                            </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <!--<button routerLink="employee" routerLinkActive="router-link-active" class="btn btn-danger">Cancelar</button>-->
                        <button routerLink="/employee" routerLinkActive="router-link-active" class="btn btn-primary pull-right">Regresar</button>
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (left) -->
        <!-- right column -->
        <!--</div>-->
        <!-- /.row -->
    </section>
    <!-- /.content -->

</div>